.Chart-container {
  cursor: crosshair;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 10;
}

.Chart-container svg {
  height: 100%;
  width: 100%;
}

.Chart-hoverContainer {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 200px;
}

.Chart-hoverContainer .content {
  border-radius: 5px;
  padding: 1px 6px;
}

.Chart-hoverContainer .content.bottom {
  background: #fff;
  border: 1px solid #7d95b6;
  color: #7d95b6;
}

.Chart-hoverContainer .content.top {
  background: #7d95b6;
  border: none;
  color: #fff;
}

.Chart-area {
  pointer-events: none;
  stroke: none;
}

.Chart-line {
  fill: none;
  pointer-events: none;
  stroke-width: 2;
}

.Chart-cursorLine {
  stroke: #7d95b6;
  stroke-width: 1;
}

.Chart-activePoint {
  fill: white;
  stroke: #7d95b6;
  stroke-width: 2;
}

.Chart-show {
  opacity: 1;
  transition: opacity 300ms;
}

.Chart-hidden {
  opacity: 0;
  transition: opacity 300ms;
}
