.dashboard {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.dashboard.desktop {
  border-radius: 4px;
  min-width: 960px;
  max-width: 1500px;
  width: 90vw;
}

.chart {
  margin: 0 20px;
}

.chart .topSection {
  border-bottom: 1px solid #dae1e9;
  display: flex;
  flex-direction: row;
  height: 225px;
}

.desktop .chart .topSection {
  border-top: 1px solid #dae1e9;
}

.chart .PriceChart {
  z-index: 10;
}

.chart .VerticalAxis {
  z-index: 100;
}

.table {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 90px;
  justify-content: center;
  margin: 15px 20px;
}

.tabs {
  border-bottom: 1px solid #dae1e9;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 55px;
  justify-content: space-between;
  padding: 0 20px;
}

.tabs-header {
  display: flex;
  align-items: center;
  color: rgb(6, 103, 208);
  font-size: 18px;
  font-weight: 500;
  margin: 0px;  
}

.tabs .cryptocurrency span {
  font-size: 18px;
  font-weight: 500;
}

.tabs .cryptocurrency span + span::before {
  content: " · ";
}

.tabs .cryptocurrency span:not(:first-child) {
  font-size: 16px;
}
