.chart {
  border-bottom: 1px solid #dae1e9;
  border-top: 1px solid #dae1e9;
  display: flex;
  flex-direction: row;
  margin: -1px 20px 0 20px;
  position: relative;
}

.containerFlex {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chartContainer {
  cursor: crosshair;
  height: 221px;
  position: relative;
  width: 1060px;
}

.hoverPriceContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -12px;
  width: 200px;
}

.hoverPriceContainer .content {
  background: #7d95b6;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 1px 6px;
}

.hoverTimeContainer {
  bottom: -12px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 200px;
}

.hoverTimeContainer .content {
  background: #fff;
  border: 1px solid #7d95b6;
  border-radius: 5px;
  color: #7d95b6;
  font-size: 14px;
  font-weight: 500;
  padding: 1px 6px;
}

svg {
  height: 100%;
  width: 100%;
}

.area {
  pointer-events: none;
  stroke: none;
}

.line {
  fill: none;
  pointer-events: none;
  stroke-width: 2;
}

.cursorLine {
  stroke: #7d95b6;
  stroke-width: 1;
}

.activePoint {
  fill: white;
  stroke: #7d95b6;
  stroke-width: 2;
}

.show {
  opacity: 1;
  transition: opacity 300ms;
}

.hidden {
  opacity: 0;
  transition: opacity 300ms;
}
