svg {
  height: 221px;
  width: 1060px;
  cursor: crosshair;
}

.area {
  fill: #FFEBC5;
  pointer-events: none;
  stroke: none;
}

.line {
  fill: none;
  pointer-events: none;
  stroke: #FFB119;
  stroke-width: 2;
}
