.chartContainer {
  cursor: crosshair;
  height: 221px;
  position: relative;
  width: 1060px;
}

.hoverContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -12px;
  width: 200px;
}

.hoverContent {
  background: #7D95B6;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  padding: 1px 6px;
}

svg {
  height: 100%;
  width: 100%;
}

.area {
  fill: #FFEBC5;
  pointer-events: none;
  stroke: none;
}

.line {
  fill: none;
  pointer-events: none;
  stroke: #FFB119;
  stroke-width: 2;
}

.cursorLine {
  stroke: #7D95B6;
  stroke-width: 1;
}

.activePoint{
  fill: white;
  stroke: #7D95B6;
  stroke-width: 2;
}