.Cursor.show {
  opacity: 1;
  transition: opacity 300ms;
}

.Cursor.hidden {
  opacity: 0;
  transition: opacity 300ms;
}

.Cursor .line {
  stroke: #7d95b6;
  stroke-width: 1;
}

.Cursor .circle {
  fill: white;
  stroke: #7d95b6;
  stroke-width: 2;
}
