.TableMobile {
  box-sizing: border-box;
  display: flex;
  color: #4e5c6e;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.TableMobile .PriceDetails {
  color: #4e5c6e;
  font-size: 14px;
  font-weight: 500;
}

.TableMobile .PriceDetails.positive {
  color: #61ca00;
}

.TableMobile .PriceDetails.positive svg {
  height: 11px;
  margin-right: 4px;
  width: 11px;
  fill: #61ca00;
}

.TableMobile .PriceDetails.negative svg {
  height: 11px;
  margin-right: 4px;
  width: 11px;
  transform: rotate(180deg);
  fill: #4e5c6e;
}

.TableMobile .Dropdown {
  font-weight: 500;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: rgb(78, 92, 110);
  -webkit-appearance: none;
  cursor: pointer;
  flex: 1 1 0%;
  max-width: 125px;
  padding: 8px 22px 8px 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(218, 225, 233);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  background: url('./assets/arrowIcon.png') right 8px center / 8px no-repeat rgb(255, 255, 255);
  background-position: right 8px center;
  transition: all 0.25s ease;
  text-transform: uppercase;
}
