.Tabs {
  display: flex;
  color: #7d95b6;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.Tabs-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: inherit;
  margin: 0 0.5em;
  position: relative;
  transition: all 0.25s ease;
}

.Tabs-item:first-child {
  margin-left: 0;
}

.Tabs-item:last-child {
  margin-right: 0;
}

.Tabs-item:focus {
  outline: none;
}

.Tabs-item:hover::after {
  border-bottom-color: #7d95b6;
}

.Tabs-item::after {
  bottom: -1px;
  border-bottom: 1px solid transparent;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.Tabs-item.selected {
  color: #0667d0;
}

.Tabs-item.selected::after {
  bottom: -1px;
  border-bottom: 1px solid #0667d0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
