.tabs {
  color: #7D95B6;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;

  display: flex;
  flex-direction: row; 
  height: 54px;
}

.tabItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: inherit;
  margin: 0 10px;
  position: relative;
  transition: all 0.25s ease
}

.tabItem:hover {
  color: #4E5C6E;
}

.tabItem:hover:after {
  border-bottom-color: #4E5C6E;
}

.tabItem:after {
  bottom: -1px;
  border-bottom: 1px solid transparent;
  content: '';
  height: 1px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.tabItem.selected {
  color: #0667d0;
}

.tabItem.selected:after {
  bottom: -1px;
  border-bottom: 1px solid #0667D0;
  content: '';
  height: 1px;
  left: 0px;
  position: absolute;
  width: 100%;
}