.TableCell {
  display: flex;
  color: #4e5c6e;
  flex-direction: column;
  font-size: 48px;
  justify-content: center;
  line-height: normal;
  width: 100%;
}

.TableCell:not(:first-child) {
  border-left: 1px solid #dae1e9;
}

.label {
  color: #7d95b6;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.value {
  text-align: center;
}

.value .green {
  color: #61ca00;
}

.value .large-font {
  font-size: 48px;
  font-weight: normal;
  vertical-align: baseline;
}

.value .small-font {
  font-size: 30px;
  font-weight: 500;
  top: -13px;
  position: relative;
}
