.VerticalChartAxis-container {
  border-bottom: 1px solid #dae1e9;
  border-top: 1px solid #dae1e9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  margin: 0 1.5em;
  width: 3em;
}

.VerticalChartAxis-container.right {
  align-items: flex-start;
  margin-left: 0;
}

.VerticalChartAxis-container.left {
  align-items: flex-end;
  margin-right: 0;
}

.VerticalChartAxis-container .tick {
  color: #7d95b6;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
