.BigAmount .green {
  color: #61ca00;
}

.BigAmount .large-font {
  font-size: 48px;
  font-weight: 400;
  vertical-align: baseline;
}

.BigAmount .small-font {
  font-size: 30px;
  font-weight: 500;
  top: -13px;
  position: relative;
}
