.HorizontalChartAxis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 2.5em 1.5em;
}

.HorizontalChartAxis .tick {
  color: #7d95b6;
  font-size: 14px;
  font-weight: 500;
}
